#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.containerInputs {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.containerShadow {
  border-radius: 12px;
  box-shadow: 0 0 1px rgba(85, 222, 246, 0.1), 1px 1px 1px -1px rgba(85, 222, 246, 0.15), 2px 4px 8px -2.5px rgba(85, 222, 246, 0.15);
  padding: 40px;
  border: 1px solid #f7f2f7;
}

.containerBorder {
  width: 100%;
  border-radius: 12px;
  padding: 40px;
  border: 1px solid #f7f2f7;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #ffffff;
}

.containerBorderRow {
  width: 100%;
  border-radius: 12px;
  padding: 40px;
  border: 1px solid #f7f2f7;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #ffffff;
}

.inputs {
  width: 450px;
}

.card{
  width: 500px;
}

.containerCardInfoImg{
  display: flex;
}
.containersAbout{
  width: 800px;
}

@media (width < 760px){
  .inputs {
    width: 200px;
  }

  .card{
    width: 250px;
  }

  .containerCardInfoImg{
    display: flex;
    flex-direction: column;
  }

  .imgError{
    width: 300px;
  }

  .containersAbout{
    width: 200px;
  }
}
